@using MakePizza.Models
@model List<Ingrediente>

@{
    ViewBag.Title = "Home";
}

<div>
    <h2>Gerenciamento de Ingredientes</h2>

    @Html.ActionLink("Cadastrar Ingrediente", "CadastrarIngrediente", "Ingrediente")
    @Html.ActionLink("Add Ingrediente na Pizza", "AddIngredientesNaPizza", "Pizza")

    <table class="table table-hover table-striped"
           style="margin-top:30px">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Disponibilidade</th>
            <th></th>
        </tr>
        @foreach (Ingrediente ingrediente in Model)
        {
            <tr>
                <td>@ingrediente.IdIngrediente</td>
                <td>@ingrediente.NomeIngrediente</td>
                <td>@ingrediente.CategoriaIngrediente.NomeCategoria</td>
                <td>@ingrediente.PrecoIngrediente</td>
                <td>@ingrediente.StatusIngrediente</td>
                <td>
                    @Html.ActionLink("Alterar", "AlterarIngrediente", "Ingrediente",
                            new { id = ingrediente.IdIngrediente }, null)
                </td>
            </tr>
        }
    </table>

    <p>Dados atualizados às: <b> @DateTime.Now;</b></p>

</div>

