@using MakePizza.Models

@model Pedido

@{

	ViewBag.Title = "Confirmar";
	List<Pizza> lstPizzas = ViewBag.Pizzas;
}

@using (Html.BeginForm("Home", "Pedido", FormMethod.Post))
{
	<div class="form-horizontal">
		<h>Confirme seu pedido</h>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@foreach (Pizza pizza in lstPizzas)
			{
				<input type="checkbox" value="@pizza.IdPizza" name="lstIdPizzaConfirmado" checked="checked" id="@pizza.IdPizza" hidden="hidden">
				@Html.Label(pizza.NomePizza);
				<br />
			}
			<br />

			<div class="form-group">
				@Html.LabelFor(model => model.ClientePedido, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ClientePedido.EmailCliente, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ClientePedido.EmailCliente, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.StatusPedido, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.StatusPedido, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.StatusPedido, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.PrecoTotalPedido, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.PrecoTotalPedido, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.PrecoTotalPedido, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Confirmar Pedido" class="btn btn-primary" />
			</div>
		</div>
	</div>
}

