
@{
    ViewBag.Title = "Gerenciar";
}

<h2>@ViewBag.Title</h2>
<div>
    <div style="margin-top:5px">
        @Html.ActionLink("Mostrar Clientes", "Listar", "Cliente") <br />
    </div>
    <div style="margin-top:5px">
        @Html.ActionLink("Mostrar Categorias", "Home", "Categoria") <br />
    </div>
    <div style="margin-top:5px">
        @Html.ActionLink("Mostrar Ingrediente", "Home", "Ingrediente") <br />
    </div>
    <div style="margin-top:5px">
        @Html.ActionLink("Criar Nova Pizza", "AddIngredientesNaPizza", "Pizza") <br />
    </div>
</div>