
@{
	ViewBag.Title = "Escolha de Cadastro";
}

<h2>@ViewBag.Title</h2>
<div>
	@Html.ActionLink("Cliente", "CadastrarCliente", "Cliente")
	@Html.ActionLink("Categoria", "CadastrarCategoria", "Categoria")
	@Html.ActionLink("Ingrediente", "CadastrarIngrediente", "Ingrediente")
	@Html.ActionLink("Add Ingrediente na Pizza", "AddIngredientesNaPizza", "Pizza")

</div>