
@{
	ViewBag.Title = "Gerenciar";
}

<h2>@ViewBag.Title</h2>
<div>
	@Html.ActionLink("Mostrar Clientes", "Listar", "Cliente") <br />
	@Html.ActionLink("Mostrar Categorias", "Home", "Categoria") <br />
	@Html.ActionLink("Mostrar Ingrediente", "Home", "Ingrediente") <br />
	@Html.ActionLink("Add Ingrediente na Pizza", "AddIngredientesNaPizza", "Pizza") <br />

</div>