@model MakePizza.Models.Categoria
@{
	ViewBag.Title = "Cadastrar Categoria";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.NomeCategoria, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.NomeCategoria, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome Categoria" } })
				@Html.ValidationMessageFor(model => model.NomeCategoria, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.DescricaoCategoria, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.DescricaoCategoria, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descrição Categoria" } })
				@Html.ValidationMessageFor(model => model.DescricaoCategoria, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.StatusCategoria, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<div class="checkbox" style="margin-left:20px">
					@Html.EditorFor(model => model.StatusCategoria)Disponível
					@Html.ValidationMessageFor(model => model.StatusCategoria, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Cadastrar" class="btn btn-primary" />
			</div>
		</div>
	</div>
}
