@using MakePizza.Models

@model MakePizza.Models.Ingrediente

@{
    ViewBag.Title = "Criar Pizza";
    List<Ingrediente> Ingredientes = ViewBag.Ingredientes;
}

@using (Html.BeginForm("AddIngredientesNaPizza", "Pizza", FormMethod.Post))
{
	<div class="form-horizontal">
		
        <h2>
            Selecione os ingredientes que deseja em sua pizza:
        </h2>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@foreach (Ingrediente ingrediente in Ingredientes)
			{
				<input type="checkbox" value="@ingrediente.IdIngrediente" name="IdCheckBox" id="@ingrediente.IdIngrediente">
				@Html.Label(ingrediente.NomeIngrediente);
				<br />
			}
			<br />
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Próximo" class="btn btn-primary" />
			</div>
		</div>
	</div>
}

<div style="text-align:center">
	@Html.ActionLink("Voltar", "Home", "Pizza")
</div>
