@using MakePizza.Models

@model MakePizza.Models.Ingrediente

@{
	List<Ingrediente> Ingredientes = ViewBag.Ingredientes;
}

@using (Html.BeginForm("AddIngredientesNaPizza", "Pizza", FormMethod.Post))
{
	<div class="form-horizontal">
		<h>AddIngredientesNaPizza</h>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@foreach (Ingrediente ingrediente in Ingredientes)
			{
				<input type="checkbox" value="@ingrediente.IdIngrediente" name="IdCheckBox" id="@ingrediente.IdIngrediente">
				@Html.Label(ingrediente.NomeIngrediente);
				<br />
			}
			<br />
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Voltar", "Home", "Pizza")
</div>
