@using MakePizza.Models

@model Pizza

@{
	ViewBag.Title = "Sua Pizza";
	List<Ingrediente_Pizza> Ingredientes = ViewBag.Ingredientes;

	double valorTotalIngrediente = 0;
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h3>Sua Pizza:</h3>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.TamanhoPizza, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.TamanhoPizza, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tamanho Pizza" } })
				@Html.ValidationMessageFor(model => model.TamanhoPizza, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.NomePizza, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.NomePizza, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome da sua Pizza" } })
				@Html.ValidationMessageFor(model => model.NomePizza, "", new { @class = "text-danger" })
			</div>
		</div>

		@if (Ingredientes.Count > 0)
		{
			<div class="form-group">
				@Html.Label("Ingredientes : ", new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@foreach (Ingrediente_Pizza ingrediente in Ingredientes)
					{
						@Html.Label(ingrediente.ingredientePizza.NomeIngrediente);
						<br />
						valorTotalIngrediente += ingrediente.ingredientePizza.PrecoIngrediente;
					}
				</div>
			</div>
		}

		<div class="form-group">
			@Html.LabelFor(model => model.PrecoPizza, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.Label(Convert.ToDecimal(valorTotalIngrediente).ToString("C2"))
				@Html.ValidationMessageFor(model => model.PrecoPizza, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group" >
			@Html.LabelFor(model => model.StatusPizza, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.StatusPizza, new { htmlAttributes = new { @class = "form-control", @placeholder = "Finalizado" } })
				@Html.ValidationMessageFor(model => model.StatusPizza, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Cadastrar" class="btn btn-primary" />
			</div>
		</div>
	</div>
}

<div style="text-align:center">
	@Html.ActionLink("Voltar", "AddIngredientesNaPizza", "Pizza")
</div>
